---

import imageCard1 from "../assets/info-card-1.jpeg"
import imageCard2 from "../assets/info-card-12.jpeg"
import imageCard3 from "../assets/info-card-2.jpeg"
import imageCard4 from "../assets/info-card-3.jpg"

import { Image } from "astro:assets"

---

<div 
  id="info-card" 
  class="info_cards" 
  aria-hidden="false"
  data-state="article-3"
  >
  <div class="scroller" >
    <div class="scroller__content" style="gap: 1rem;">
      <div style="flex: 2; display: flex; flex-flow: column;">
        <Image src={imageCard3} alt={"Cosas"} style={{marginBottom: "0.5rem"}} />
        <h2>
          Great creative process
        </h2>
      </div>
      <div 
        style=" flex: 1;
              display: flex;
              gap: 0.5rem; 
              flex-flow: column; 
              justify-content: space-between;">
        <h3>
          Our Latest projects include...
        </h3>
        <p>
          Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Lorem ipsum dolor sit amet.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur
          adipisicing elit.
        </p>
        <a href="">
          Check them out!
        </a>
      </div>
    </div>
    <div class="scroller__content" style="flex-direction: column;">
      <div 
        style="display: grid;
              grid-template-columns: repeat(auto-fit, minmax(min(100%, 200px), 1fr)); 
              gap: .5rem;">
        <Image src={imageCard1} alt={"Cosas"} />
        <Image src={imageCard2} alt={"Cosas"} />
      </div>
      <div 
        style="flex: 1;
              display: flex;
              gap: 0rem; 
              flex-flow: column; 
              justify-content: space-between;">
        <h2 style="text-align: center; font-weight: 900;">
          👨‍💻👩‍💻 The Best Talent in Web Dev!!⚒️
        </h2>
        <p style="margin-top: .3rem;">
          Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Lorem ipsum dolor sit amet.
          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </p>
        <p style="margin-bottom: 0.3rem;">
          Lorem ipsum dolor sit amet consectetur
          adipisicing elit.
        </p>
        <a href="/" >
          Get to know us!
        </a>
      </div>
    </div>
    <div class="scroller__content">
      <div 
        style="flex: 1;
               display: flex;
               flex-flow: column;
               gap: 1rem;">
        <div style="display: grid; gap: .5rem;">
          <h3>
            Ebay Ecommerce
          </h3>
          <p>
            Lorem ipsum dolor sit amet consectetur
            adipisicing elit.
          </p>
          <a href="">
            See our plans
          </a>
        </div>
        <div style="display: grid; gap: .5rem;">
          <h3>
            Amazon Web Services
          </h3>
          <p>
            Lorem ipsum dolor sit amet consectetur
            adipisicing elit.
          </p>
          <a href="">
            See our projects
          </a>
        </div>
        <div style="display: grid; gap: .5rem;">
          <h3>
            Custom Web Commerce
          </h3>
          <p>
            Lorem ipsum dolor sit amet consectetur
          </p>
          <a href="">
            See our desings
          </a>
        </div>
      </div>
      <div style="flex: 2;display: grid; grid-template-columns: repeat(2, 1fr); gap: 0.5rem;">
        <Image src={imageCard4} alt={"Cosas"} />
        <Image src={imageCard4} alt={"Cosas"} />
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  #info-card {
    --_height: auto;
    --_width: auto;
    --_translate: -200%;

    width: min(calc(100% - 1rem), var(--_width));
    height: var(--_height);
    transform: translateY(-20%);

    overflow: hidden;
    position: fixed;
    inset: 0;
    margin: auto;
    border: 1px solid #C8C8C8;
    box-shadow: 0 8px 16px hsl(0, 0%, 15%);

    background-color: #F1F2F4;
    border-radius: 1rem;

    transition: width 150ms, height 150ms linear, opacity 100ms;

    .scroller{
      display: flex;
      width: max-content;

      
      &__content {
        transform: translateX(var(--_translate));
        transition: transform 120ms ease-in-out;

        width: 100%;
        max-width: var(--_width);
        height: var(--_height);
        padding: .5rem;
        display: flex;
        gap: 1rem;
        color: #4D4F51;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: .5rem;
        }

        a {
          background: linear-gradient( #FEA373,  #fb8e54);
          color: #FEFEFE;
          padding: 6px;
          border-radius: 10px;
          border: 1px solid #DF935D;
          text-transform: capitalize;
          text-align: center;
          font-weight: 600;
        }
      }
    }

    opacity: 0.8;

    &:hover {
      opacity: 1;
    }

    &[data-state="article-1"]{
      --_height: 260px;
      --_width: 550px;
    }

    &[data-state="article-2"]{
      --_height: 386.2px;
      --_width: 550px;
    }
  
    &[data-state="article-3"]{
      --_height: 390px;
      --_width: 700px;
    }
    &[aria-hidden="false"]{
      display: none;
    }
  }

</style>