---
import Image from "astro/components/Image.astro";
import { Icon } from 'astro-icon/components'

interface CardProps {
  title: string;
  name: string;
  img: string;
  description: string;
  article: number;
}

const { title, description, img, name, article } = Astro.props;
---

<article class="article" data-state=`article-${article}`>
  <div class="article__img">
    <img src={img} alt="Imagen de una joven sonriendo"/>
  </div>
  <div class="article__content">
    <p>
      {name}
    </p>
    <div class="article__footer">
      <div class="article__text"> 
        <h2>{title}</h2>
        <p>
          {description}
        </p>
      </div>
      <button type="button" class="article__icon card_toggle">
        <!-- Icon Idea: A laptop with code snippets. -->
        <Icon name="mdi:cursor-default-click-outline" height={24} width={24} />
      </button>
    </div>
  </div>
</article>

<style lang="scss">
  .article {
    --card-h: 400px;
    --card-w: 400px;

    z-index: 0;
    position: relative;
    overflow: hidden;
    display: flex;
    border-radius: 2.5rem;
    border: 3px solid hsl(0, 0%, 100%);
    width: var(--card-w);
    height: var(--card-h);
    height: fit-content;

    transition: transform 220ms ease-in-out;

    &__img {
      overflow: hidden;
      width: 100%;
      height: var(--card-h);
      
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    &__content {
      width: 100%;
      padding: 1rem;
      position: absolute;
      bottom: 0;
      color: hsl(0, 0%, 99%);
      transform-style: preserve-3d;


      transition: transform 200ms linear;

      &::before {
        content: "";
        position: absolute;
        transform: translateZ(-5rem);
        inset: 0;
        backdrop-filter: blur(24px);
        background: linear-gradient( hsla(0, 0%, 99%, 0),hsla(0, 0%, 90%, 0.3), hsla(0, 0%, 80%, 0.6));

        transition: backdrop-filter 200ms linear;
      }
    }

    &__footer {
      display: flex;
      align-items: center;
      gap: 1rem;
      & .article__text {
        flex: 1;

        p {
          font-size: .6rem;
        }
      }

      & .article__icon {
        display: flex;
        background-color: white;
        height: fit-content;
        color: black;
        padding: 8px;
        border-radius: 5px 5px 16px 5px;
        box-shadow: 0 5px 8px gray;
      }
    }

    &:hover {
      transform: scale(1.05);
    }

    

  
  }
</style>